/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    max-width: 1200px;
    height: 950px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
}

.card {
    width: 19rem;
    margin: auto;
}

.formAddShop {
    margin: 20px;
    width: 400px;
    border: 2px dotted grey;
    border-radius: 10px;
    padding: 20px;
}

select {
    margin-left: -15px;
}

.workTimeBlock {
    display: flex;
}

.formAddProduct {
    width: 400px;
}

.btn {
    margin: 5px;
}

